body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:900px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:90px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:90px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:25px;
  width:289px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:830px;
  width:1440px;
  height:70px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:853px;
  width:163px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:90px;
  width:1250px;
  height:42px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:104px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:165px;
  width:923px;
  height:517px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:165px;
  width:928px;
  height:55px;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  font-size:14px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:89px;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:50px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:0px;
  width:107px;
  height:50px;
  font-size:14px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:103px;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:156px;
  height:50px;
  font-size:14px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:73px;
  height:50px;
  font-size:14px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:69px;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:80px;
  height:50px;
  font-size:14px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:0px;
  width:91px;
  height:50px;
  font-size:14px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:87px;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:50px;
  font-size:14px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:136px;
  height:50px;
  font-size:14px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:0px;
  width:87px;
  height:50px;
  font-size:14px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
.u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u601 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:0px;
  width:87px;
  height:40px;
}
.u602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
.u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u603 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:136px;
  height:40px;
}
.u604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
.u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u605 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:40px;
}
.u606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u607 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:0px;
  width:91px;
  height:40px;
}
.u608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
.u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u609 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:80px;
  height:40px;
}
.u610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u611 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:73px;
  height:40px;
}
.u612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
.u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u613 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:156px;
  height:40px;
}
.u614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
.u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u615 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:0px;
  width:107px;
  height:40px;
}
.u616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
.u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.u618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
.u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u619 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:0px;
  width:87px;
  height:40px;
}
.u620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u600-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:40px;
}
#u600-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:923px;
  height:40px;
}
#u600-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:923px;
  height:40px;
}
#u600-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:923px;
  height:40px;
}
#u600-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:923px;
  height:40px;
}
#u600-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:923px;
  height:40px;
}
#u600-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:923px;
  height:40px;
}
#u600-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:923px;
  height:40px;
}
#u600-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:923px;
  height:40px;
}
#u600-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:923px;
  height:40px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:215px;
  width:923px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:634px;
  width:72px;
  height:25px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:634px;
  width:72px;
  height:25px;
  font-size:12px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:634px;
  width:72px;
  height:25px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:634px;
  width:72px;
  height:25px;
  font-size:12px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:634px;
  width:79px;
  height:25px;
  font-size:12px;
}
#u629_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u629.selected {
}
#u630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:634px;
  width:83px;
  height:25px;
  font-size:12px;
}
#u631_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u631.selected {
}
#u632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:647px;
  width:99px;
  height:29px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
